{% extends "base.njk" %}

{% block content %}
<section>
  <h1>Contact Us</h1>
  <form>
    <input type="text" placeholder="Your Name">
    <input type="email" placeholder="Your Email">
    <textarea placeholder="Message"></textarea>
    <button type="submit">Send</button>
  </form>
</section>
{% endblock %}